/*
1. header
2. body

*/

:root{

}

/*  header  */


/* hero section */
.hero_img{
    width: 100%;
    /* height: 35rem; */
    background-image: url('SWL-images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 75%;
}   /*  end of hero_image  */

.hero_item {
    font-family: 'Permanent Marker', cursive;
}

.wedo_pic{
    width: 255px;
    height: 255px;

}
body {
    height: 1000px;
}

