/*
1. header
2. body

*/

:root{

}

/*  header  */


/* hero section */
.hero_img{
    height: 100vh;
    width: auto;
    /* height: 35rem; */
    background-image: url('SWL-images/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   /*  end of hero_image  */

.hero_item {
    font-family: 'Permanent Marker', cursive;
}

.wedo_pic{
    width: 255px;
    height: 255px;

}
@media screen and (max-width: 1024px) {
    .wedo_pic{
        width: 150px;
        height: 150px;
    }

    .hero_img{
        background-position: 45% 75%;

    }

}
/* @media screen and (max-width: 768px) {
    .hero_img{
        background-position: 45% 75%;

    }
} */



body {
    height: 1000px;
}

