@tailwind base;
@tailwind components;
@tailwind utilities;


/* hero section */
.hero_img {
  background-image: '/SWL-images/hero-image.jpg';
  height: 500px;
  /* z-index: 0; */
}

.hero_item {
    font-family: 'Permanent Marker', cursive;
}

.wedo_pic{
    width: 255px;
    height: 255px;

}
@media screen and (max-width: 1024px) {
    .wedo_pic{
        width: 150px;
        height: 150px;
    }

    .hero_img{
        background-position: 45% 75%;

    }

}
/* @media screen and (max-width: 768px) {
    .hero_img{
        background-position: 45% 75%;

    }
} */



body {
    height: 1000px;
}

